Flask==2.0.1
Werkzeug==2.0.3  # Add specific Werkzeug version
flask-cors==4.0.0
pandas==1.3.5  # Changed to older version with more wheels
geopy==2.3.0
python-Levenshtein-wheels==0.13.2  # Using wheels version instead
fuzzywuzzy==0.18.0
gunicorn==20.1.0
numpy==1.21.6  # Explicitly specify numpy version
